@import "tailwindcss";
@import "tailwindcss-primeui";

@font-face {
  font-family: "Big Shoulders";
  src: url("/BigShoulders.ttf");
}

:root {
  font-family: "Big Shoulders", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: bold;
  font-size: medium;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Primary and Surface Palettes */
:root {
  --p-primary-50: var(--color-sky-50);
  --p-primary-100: var(--color-sky-100);
  --p-primary-200: var(--color-sky-200);
  --p-primary-300: var(--color-sky-300);
  --p-primary-400: var(--color-sky-400);
  --p-primary-500: var(--color-sky-500);
  --p-primary-600: var(--color-sky-600);
  --p-primary-700: var(--color-sky-700);
  --p-primary-800: var(--color-sky-800);
  --p-primary-900: var(--color-sky-900);
  --p-primary-950: var(--color-sky-950);
  --p-surface-0: #ffffff;
  --p-surface-50: #fafafa;
  --p-surface-100: #f4f4f5;
  --p-surface-200: #e4e4e7;
  --p-surface-300: #d4d4d8;
  --p-surface-400: #a1a1aa;
  --p-surface-500: #71717a;
  --p-surface-600: #52525b;
  --p-surface-700: #3f3f46;
  --p-surface-800: #27272a;
  --p-surface-900: #18181b;
  --p-surface-950: #09090b;
  --p-content-border-radius: 6px;
  --wcf-red: #ed3140;
  --wcf-dark-blue: #0e5d97;
  --wcf-light-blue: #27c1f1;
  --wcf-grey: #f4f5f5;
  --wcf-yellow: #b0d235;
  --wcf-white: #ffffff;
  --wcf-black: #0a1622;
}


/* Light */
:root {
  --p-primary-color: var(--p-primary-300);
  --p-primary-contrast-color: var(--wcf-dark-blue);
  --p-primary-hover-color: var(--wcf-light-blue);
  --p-primary-active-color: var(--wcf-dark-blue);
  --p-content-border-color: var(--wcf-dark-blue);
  --p-content-hover-background: var(--p-surface-100);
  --p-content-hover-color: var(--p-surface-800);
  --p-highlight-background: var(--p-primary-50);
  --p-highlight-color: var(--p-primary-700);
  --p-highlight-focus-background: var(--p-primary-100);
  --p-highlight-focus-color: var(--p-primary-800);
  --p-text-color: var(--wcf-dark-blue);
  --p-text-hover-color: var(--p-surface-800);
  --p-text-muted-color: var(--p-surface-500);
  --p-text-hover-muted-color: var(--p-surface-600);
}


/*
 * Dark Mode
 * Defaults to system, change the dark variant selector to match the CSS variable configuration.
 * For example;
 * @custom-variant dark (&:where(.app-dark, .app-dark *));
 * should match to;
 * :root[class="app-dark"]
*/
@media (prefers-color-scheme: dark) {
  :root {
    --p-primary-color: var(--wcf-dark-blue);
    --p-primary-contrast-color: var(--wcf-light-blue);
    --p-primary-hover-color: var(--p-primary-900);
    --p-primary-active-color: var(--wcf-light-blue);
    --p-content-border-color: var(--wcf-light-blue);
    --p-content-hover-background: var(--p-surface-800);
    --p-content-hover-color: var(--p-surface-0);
    --p-highlight-background: color-mix(in srgb, var(--p-primary-400), transparent 84%);
    --p-highlight-color: rgba(255, 255, 255, 0.87);
    --p-highlight-focus-background: color-mix(in srgb, var(--p-primary-400), transparent 76%);
    --p-highlight-focus-color: rgba(255, 255, 255, 0.87);
    --p-text-color: var(--wcf-light-blue);
    --p-text-hover-color: var(--p-surface-0);
    --p-text-muted-color: var(--p-surface-400);
    --p-text-hover-muted-color: var(--p-surface-300);
  }
}


body {
  margin: 0;
  display: flex;
  place-items: flex-start;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


h2 {
  font-size: x-large;
  font-weight: bolder;
  line-height: 1.1;
}


#app {
  width: 100%;
  /*max-width: 1280px;*/
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--p-surface-900);
    background-color: var(--p-primary-50);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--p-surface-100);
    background-color: var(--p-surface-800);
  }
}
